.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-height: 200px;
    background-color: #313131;
    float: bottom;
    margin-top: 50px;

}
.footerinner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin: 10px auto;
    width: 80%;
}
.footer img {
    display: block;
    height: 130px;
    width: 100px;
    border-radius: 10px;
}
.footerpersonal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 20px;
    gap: 20px;
}
.quote {
    padding: 10px;
    color: #d7d7d7;
    height: 130px;
    width: auto;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 17px;
}
.quote i {
    display: block;
    color: #ffffff;
    width: 100%;
    text-align: right;
    margin-top: 20px;
}
.footertechs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 130px;
    box-sizing: border-box;
    align-self: center;
    margin: 0 20px;
}
.footertechs h3 {
    color: #d7d7d7;
    margin-top: 0;
}
.footertechs a {
    margin: 0;
    color: #5b9bcf;
    text-decoration: none;
}
.footertechs a:hover {
    color: #61caff;
    text-decoration: underline;
}
.cr {
    display: block;
    height: 30px;
    width: 100%

}
.cr i {
    display: block;
    color: #5b9bcf;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
}
.footarrow {
    display: flex;
    height: 130px;
    width: 200px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    align-self: center;
    margin: 0 20px;
}
.footarrow svg {
    font-size: 100px;
    color: white;
    cursor: pointer;
}
@media (max-width: 550px)  {
    .footer .footerinner {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer .footerpersonal {
        flex-direction: column;
    }
    .footer .footerpersonal img{
        margin: 0 auto;
    }
    .footer h3 {
        font-size: 20px;
    }
    .footer .footertechs a {
        font-size: 16px;
    }
    .footer .cr i{
        display: block;
        font-size: 18px;
        text-align: center;
        padding: 0;
        overflow-wrap: break-word;
        word-wrap: break-word;
        height: auto;
    }

    .footer .quote {
        display: block;
        padding: 10px;
        color: #d7d7d7;
        height: auto;
        width: 60%;
        border: 2px solid white;
        border-radius: 10px;
        box-sizing: border-box;
        font-size: 15px;
        margin: 0 auto;
    }

    .footer .quote i {
        display: block;
        color: #ffffff;
        width: 100%;
        text-align: right;

    }
    .footertechs {
        padding: 10px;
        border-radius: 10px;
        border: 2px solid #5b9bcf;
    }
    .footertechs h3 {
        margin-bottom: 5px;
        text-align: center;
    }
    .footertechs a {
        text-align: center;
    }
}